set nocompatible
filetype off

" Plugins
set surround
set ReplaceWithRegister
set argtextobj
set exchange
set textobj-entire
set NERDTree
set vim-paragraph-motion
set textobj-indent

filetype on
filetype plugin on
filetype plugin indent on

set incsearch
set hlsearch
set ideajoin

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" my settings
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap 2o o<CR>
nnoremap 2O O<Esc>O

nnoremap [<Space> mpO<Esc>`p
nnoremap ]<Space> mpo<Esc>`p

nnoremap <C-k> :move -2<CR>
nnoremap <C-j> :move +<CR>
nnoremap <C-h> xhP
nnoremap <C-l> xp

nnoremap <leader>n /sldfjlsdjfsd<CR>

" move tabs
nnoremap tm :tabm +1<CR>
nnoremap tM :tabm -1<CR>

" goto definition
nmap g[ :action GotoImplementation<CR>

